<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mis Cuentas</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./styles/base.css" />
    <link rel="stylesheet" href="./styles/accounts.css" />
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <div id="app" class="container-fluid">
      <header
        class="d-flex justify-content-between align-items-center py-1 px-3"
      >
        <div class="d-flex align-items-center p-1">
          <img src="img/android-chrome-512x512.png" alt="logo" />
          <h1 class="h5 ms-2 mb-0">Mindhub</h1>
        </div>
        <div class="user-menu">
          <a
            @click="logout"
            href="#"
            class="btn btn-outline-light"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Salir"
            ><i class="bi bi-box-arrow-right"></i
          ></a>
        </div>
      </header>

      <div
        class="
          boton-nav
          d-flex
          justify-content-between justify-content-md-center
          px-3
          align-items-center
        "
      >
        <span class="p-1 toggle-button m-1" @click="toggleNav">
          <i class="bi bi-list"></i>
          <span class="text-secondary">menu</span>
        </span>

        <h5 v-cloak>{{ clientData.firstName }} {{clientData.lastName }}</h5>
      </div>

      <div class="content">
        <nav class="client-info" :class="{visible:navShow}">
          <div class="client-info-top" v-cloak>
                 <h2 class="h5 ms-2 mb-0">Mindhub</h2>
            <button
              type="button"
              class="btn-close boton-cerrar btn-close-white"
              aria-label="Close"
              @click="toggleNav"
            ></button>

          </div>

          <a href="accounts.html"> <i class="bi bi-wallet2"></i> Cuentas </a>
          <a href="cards.html"><i class="bi bi-credit-card"></i> Tarjetas</a>
          <a href="transfers.html"
            ><i class="bi bi-cash-stack"></i> Transferencias</a
          >
          <a @click="logout" href="#"><i class="bi bi-box-arrow-right"></i> Salir</a>
        </nav>

        <main>
          <div class="section accounts">
            <div class="header d-flex justify-content-between">
              <h5>Cuentas</h5>
            </div>
            <table class="table table-hover text-center">
              <thead>
                <tr>
                  <th>Numero</th>
                  <th>Creada el</th>
                  <th>Tipo</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="account in clientData.accounts"
                  :key="account.number"
                  @click="goToUrl(account.number)"
                  v-cloak
                >
                  <td>{{ account.number }}</td>
                  <td>{{ dateAndTime(account.creationDate) }}</td>
                  <td>{{ traducir(account.accountType) }}</td>
                  <td>
                    <span class="balance-cell"
                      >$ {{ account.balance.toFixed(2) }}</span
                    >
                  </td>
                </tr>
              </tbody>
            </table>
            <div
              class="buttons d-flex justify-content-center align-items-center"
            >
              <button
                
                v-show="accountsNumber < 3"
                class="boton-crear"
                data-bs-toggle="modal"
                data-bs-target="#createAccountModal"
                type="button"
              >
                <p>Crear Nueva Cuenta</p>
              </button>
              <button
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#eliminarCuenta"
                v-show="accountsNumber > 1"
                class="boton-eliminar"
              >
                <p>Eliminar Cuenta</p>
              </button>
            </div>
          </div>

          <div class="section loans">
            <div class="header">
              <h5>Prestamos</h5>
            </div>
            <div class="d-sm-flex justify-content-around flex-wrap">
              <div
                v-if="hasLoans"
                v-for="loan in loans"
                class="card card mb-3"
                v-cloak
              >
                <div class="card-header">{{ loan.name }}</div>
                <div class="card-body">
                  <h5 class="card-title">$ {{loan.amount}}</h5>
                  <p class="card-text">
                    {{ loan.payment }} pagos de $ {{
                    (loan.amount/loan.payment).toFixed(2) }}
                  </p>
                </div>
              </div>
              <div v-else>No hay préstamos</div>
            </div>
            <div
              class="buttons d-flex justify-content-center align-items-center"
            >
              <div @click="nuevoPrestamo" class="boton-crear">
                <p>Solicitar Préstamo</p>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div
            class="modal fade"
            id="eliminarCuenta"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-danger">
                    Eliminar una Cuenta
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div id="deleteCard" class="section">
                    <form>
                      <label for="cards" class="form-label"
                        >Seleccione la cuenta que desea eliminar:
                      </label>
                      <select
                        name="cards"
                        id="cards"
                        class="form-select"
                        v-model="accountToDelete"
                      >
                        <option value="" selected></option>
                        <option
                          v-for="account in clientData.accounts"
                          :key="account.number + 'modal'"
                          :value="account"
                        >
                          {{account.number}}
                        </option>
                      </select>

                      <div v-show="accountToDelete.balance > 0">
                        <p>esta cuenta tiene ${{ accountToDelete.balance }}</p>
                        <label for="destination-account" class="form-label"
                          >¿desea transferirlos a otra cuenta?
                        </label>
                        <select
                          name="cards"
                          id="destination-account"
                          class="form-select"
                          v-model="destinationAccount"
                        >
                          <option></option>
                          <option
                            v-for="account in clientData.accounts"
                            :key="account.number + 'destino'"
                            :value="account.number"
                            v-show="account.number != accountToDelete.number"
                          >
                            {{account.number}}
                          </option>
                        </select>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="deleteAccount"
                    data-bs-dismiss="modal"
                    :disabled="!accountToDelete || accountToDelete.balance > 0"
                    v-show="!accountToDelete.balance > 0"
                  >
                    Eliminar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="transferAndDelete"
                    data-bs-dismiss="modal"
                    v-show="accountToDelete.balance > 0"
                  >
                    Transferir y Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal -->
          <div
            class="modal fade"
            id="createAccountModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-success" >
                    Crear una Cuenta
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <div  class="section">
                    <form>
                      <p>Seleccione el tipo de cuenta:</p>
                  <div class="d-md-flex"  role="group" aria-label="seleccionar tipo de cuenta">
                      
                      <input
                      class="btn-check"
                        type="radio"
                        autocomplete="off"
                        v-model="accountTypeCreate"
                        name="accountType"
                        id="ahorro"
                        value="SAVING"
                      />
                      <label for="ahorro" class="btn btn-outline-dark m-2" >Cuenta de Ahorro</label>

                      <input
                      class="btn-check"
                      autocomplete="off"
                        type="radio"
                        v-model="accountTypeCreate"
                        name="accountType"
                        id="corriente"
                        value="CHECKING"
                      />
                      <label for="corriente" class="btn btn-outline-dark m-2" >Cuenta Corriente</label>
                    </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="createAccount"
                    data-bs-dismiss="modal"
                    :disabled="!accountTypeCreate"
                  >
                    Crear
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
   
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="./js/accounts.js"></script>
  </body>
</html>
