
/* estilos de la tabla */
.balance-cell {
  color: var(--purple);
  font-weight: bold;
  color: var(--orange);
}

.accounts tbody tr:hover {
  cursor: pointer;
}

  /* bootstrap acount page */
  .account .badge {
    font-size: 1em;
    font-weight: 400;
  }
